body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*background: papayawhip; */
  background-image: linear-gradient(peachpuff, papayawhip);
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  height: 100vh;
}

.movieList {
  background-size: cover;
  height: 100%;
}

#search {
  text-align: center;
  font-size: 2vw;
}

#searchBar {
  border-radius: 20px;
  font-size: 100%;
  padding: 12px;
  background: rgba(0,0,0,0); /* transparent background */
}
/* when clicked on */
#searchBar:focus {
  border: 3px solid black;
  outline: none;  /* remove border when cursor clicks on field */
}

.searchBtn {
  background-color: #FFA07A;
  color: black;

  margin-left: 20px;
  border: none;
  padding: 12px;
  font-size: 100%;
  border-radius: 20px;
}
.searchBtn:hover {
  cursor: pointer;
  color: #FFA07A;
  background-color: black;
}
